node_modules/	
*.log
.config/
.config/nvim/lua/lsp_servers
!.config/coc/extensions/package.json
!.config/powerline/
!.config/inkscape/
!.config/kitty/
!.config/xfce4/xfconf/*
!.config/xfce4/panel/*
# Nvim Config
!.config/nvim/
!.config/nvim/lua/
!.config/nvim/lua
.config/nvim/lua/lsp_servers
