[core]
    pager = delta
    fsmonitor = true
    untrackedcache = true
    prune = true
[merge]
	tool = nvimdiff2
[diff]
    colorMoved = default
[commit]
    template = ~/.config/git/template
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[alias]
    graph1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
    graph2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    graph = graph1
    dog = log --all --decorate --oneline --graph
    update = !git fetch origin && git pull origin main 
    listlast = show --name-only --oneline
    po = push origin
    upn = !git remote | egrep -o '(upstream|origin)' | tail -1
    hb = !git remote show $(git upstream-name) | awk '/HEAD branch/ {print $NF}'
[safe]
    directory = *

[color "branch"]
    current  = magenta
    local    = default
    remote   = yellow
    upstream = green
    plain    = blue
[url "git@github.sc-corp.net:"]
        insteadOf = git://github.sc-corp.net
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = Peter Bowman
	email = bowmanpete123@gmail.com
