snippet headersection "Commented Layout for a header" b
" --------------------------------"
" $1
" --------------------------------"

endsnippet

snippet subheader "Commented Layout Subheader" b
" $1
" --------
endsnippet

snippet sectionend "Visual End Of Section" b
" ----------------

endsnippet
